@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
  background-color: rgba(66, 48, 48, 0.89);
  opacity: 0.9;
}

/* body {
  background-image: url(/assets/CoffeeHeart.jpeg);
  background-size: 100%;
  background-repeat: repeat;
} */

header {
  color:rgba(245, 245, 245, 0.658);
  font-family: Monda;
  font-weight: bold;
  font-size: 90;
}

#brew {
  height: 65px;
  width: 825px;
  display: grid;
  grid-template-columns: 40px 150px 40px 150px;
}

.brew {
  color: rgba(245, 245, 245, 0.658);
  font-family: Monda;
  font-weight: bold;
  font-size: 15pt;
}

#dairyAll {
  height: 80px;
  width: 825px;
}

#dairy1 {
  display: grid;
  grid-template-columns: 40px 150px 40px 150px 40px 150px 40px 150px;
}

#dairy2 {
  display: grid;
  grid-template-columns: 40px 150px 40px 150px 40px 150px 40px 150px;
}

.dairy {
  color: rgba(245, 245, 245, 0.658);
  font-family: Monda;
  font-weight: bold;
  font-size: 15pt;
}

#else {
  height: 70px;
  width: 825px;
  display: grid;
  grid-template-columns: 40px 150px 40px 150px;
}

.else {
  color: rgba(245, 245, 245, 0.658);
  font-family: Monda;
  font-weight: bold;
  font-size: 15pt;
}

#button {
  background-image: rgba(245, 245, 245, 0.658);
  border: 1px solid rgba(245, 245, 245, 0.658);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(66, 48, 48, 0.89);
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: Monda;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 20px;
}

#orders {
  /* height: 700px; */
  width: 825px;
  

}

.drinkOrder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgba(245, 245, 245, 0.733);
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 11pt;
  min-height: 100px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.orders {
  color: rgba(245, 245, 245, 0.658);
  font-family: Monda;
  font-weight: bold;
  font-size: 15pt;
}

label {
  display: float;
  color: rgba(245, 245, 245, 0.733);
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 11pt;
};

